#modal_for_list {
    .todolist {
        li.ui-state-default {
            border: none;
            .custom-checkbox {
                margin-top: 5px; 
                label {
                    margin-bottom: 0;
                    user-select: none;
                    p {
                        margin: 0;
                        overflow: hidden;
                        word-wrap: break-word;
                    }
                }
                input[type="checkbox"] {
                    margin-right: 10px;
                    &:checked~.custom-control-label {
                        text-decoration: line-through;
                    }           
                }   
                .remove-item {
                    margin-left: 10px;
                }    
            }
        }
        .list {            
            margin-top: 1rem;
        }    
    }    
}

.text-line-through {
    text-decoration: line-through;
}
