/* montserrat-regular - latin */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.eot");
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
         url("../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.woff2") format("woff2"),
         url("../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.woff") format("woff"),
         url("../fonts/montserrat/montserrat-v12-cyrillic_latin-regular.ttf") format("truetype");
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-v14-latin-regular.eot"); 
  src: local("Lato Regular"), local("Lato-Regular"), 
       url("../fonts/lato/lato-v14-latin-regular.woff2") format("woff2"),
       url("../fonts/lato/lato-v14-latin-regular.woff") format("woff"),
       url("../fonts/lato/lato-v14-latin-regular.ttf") format("truetype");
}

@import "./vars.scss";
@import "./notes.scss";
@import "./list.scss";