body {
  background-color: #4e4f54;
  .white {
    background-color: #f8f9fa;
  }
  .blue {
    background-color: #aecbfa;
  }
  .green {
    background-color: #ccff90;
  }
  .red {
    background-color: #f28b82;
  }
  .preloader {
    background: url(../images/preloader.gif) center/contain no-repeat;
    padding: 10px;
    height: 30px;
    display: none;
  }
  .check {
    background: url(../images/check.png) center/contain no-repeat;
    padding: 10px;
    height: 30px;
    display: none;
  }
  .cross {
    background: url(../images/cross.png) center/contain no-repeat;
    padding: 10px;
    height: 30px;
    display: none;
  }
}

.container {
  .section-for-main-btn {
    .main-btn {
      position: relative;
      font-size: 90%;
      font-weight: 700;
      color: rgb(209,209,217);
      text-shadow: 0 -1px 2px rgba(0,0,0,.2);
      padding: 0.5em 0;
      width: 115px;
      outline: none;
      border: none;
      border-radius: 3px;
      background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
      box-shadow:
       0 1px rgba(255,255,255,.2) inset,
       0 3px 5px rgba(0,1,6,.5),
       0 0 1px 1px rgba(0,1,6,.2);
      transition: .2s ease-in-out;
    }
    .main-btn:hover:not(:active)  {
      background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
    }
    .main-btn:active {
      top: 1px;
      background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
      box-shadow:
       0 0 1px rgba(0,0,0,.5) inset,
       0 2px 3px rgba(0,0,0,.5) inset,
       0 1px 1px rgba(255,255,255,.1);
    }
  }

  .modals {
    .modal {
      input textarea {
        cursor: pointer;
      }
      .modal-header {
        padding: 0.5rem 1rem;
      }
      .form-group {
        position: relative;
        &:nth-child(1) {
          margin-top: 10px;
          margin-bottom: 25px;
        }
        .text-label {
          color: #999;
          position: absolute;
          pointer-events: none;
          left: 8px;
          top: 6px;
          transition: 0.2s ease all;
        }
        input:focus ~ .text-label,
        textarea:focus ~ .text-label,
        input:valid ~ .text-label,
        textarea:valid ~ .text-label {
          top: -21px;
          color: #888;
        }
        textarea {
          border-radius: 5px;
          width: 100%;
        }
      }

      .add-img {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        .file-upload input[type="file"] {
          display: none;
          /* скрываем input file */
        }
        /* задаем стили кнопки выбора файла*/
        .file-upload {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          #file-name {
            padding: 3px;
          }
          .file-upload_submit {
            height: 30px;
            margin-left: 5px;
          }
          .btn-select-img {
            padding: 2px 10px;
            background: linear-gradient(#f7f7f7, #dedede);
            border: 1px solid #9a9a9a;
            cursor: pointer;
          }
        }
      }

      .colors {
        &_wrapper {
          display: flex;
          flex-wrap: wrap;
          .color-label {
            display: flex;
            border: 1px solid #c1c1c1;
            background: #ddd;
            margin-right: 18px;
            input {
              cursor: pointer;
              margin: 5px;
            }
            span {
              display: inline-block;
              width: 24px;
              border-left: 1px solid #c1c1c1;
            }
          }
        }
      }
    }
  }
  .card-columns {
    padding: 40px 20px 30px 20px;
    .card{
      box-shadow:
      0 1px rgba(255,255,255,.2) inset,
      0 3px 5px rgba(0,1,6,.5),
      0 0 1px 1px rgba(0,1,6,.2);
    }
  }
  #success-alert,
  #danger-alert {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
